asn1crypto==0.24.0
avalancheapi==1.1.4
bcrypt==3.1.4
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
decorator==4.3.0
Django==2.2.13
docopt==0.6.2
docutils==0.14
EasyProcess==0.2.3
et-xmlfile==1.0.1
idna==2.7
image==1.5.27
ipaddress==1.0.22
jdcal==1.4
Jinja2==2.10.1
lxml==4.2.4
MarkupSafe==1.0
netsnmp-py==0.4
numpy==1.12.1
openpyxl==2.5.5
pandas==0.23.4
paramiko==2.4.2
pdfkit==0.6.1
Pillow==5.3.0
prompt-toolkit==2.0.4
pyasn1==0.4.4
pycparser==2.18
pyflakes==2.0.0
Pygments==2.2.0
PyNaCl==1.2.1
pyscreenshot==0.4.2
pyte==0.8.0
pytest-runner==4.2
python-dateutil==2.7.3
pytz==2018.5
pyvim==2.0.22
PyVirtualDisplay==0.2.1
pyvmomi==6.7.0.2018.9
PyYAML==4.2b1
requests==2.19.1
robotframework==3.1.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.3.1
robotframework-sshlibrary==3.4.0
robotremoteserver==1.1
scp==0.13.2
selenium==3.14.1
six==1.11.0
urllib3==1.23
wcwidth==0.1.7
opencv-python==4.1.0.25
pytesseract==0.2.7
