<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Console</title> 
</head> 
<body>
<link rel="stylesheet" type="text/css" href="css/wmks-all.css" /> 
<script type="text/javascript" src="jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="jquery-ui.min.js"></script>
<script type="text/javascript" src="wmks.min.js"></script> 
<div id="console" style="position:absolute;width:{{ WIDTH }}px;height:{{ HEIGHT }}px;background-color:#000000;useNativePixels:true">
</div> 
<script>
var wmks = WMKS.createWMKS("console",{})
 .register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE, function(event,data){
 if(data.state == WMKS.CONST.ConnectionState.CONNECTED){
  console.log("connection state change : connected");}
 });
wmks.connect("wss://{{ SERVER_IP }}:443/ticket/{{ TICKET }}"); 
</script> 
</body>
</html>
