# -*- coding: utf-8 -*-

# router, server setting
node:
{%- for node in node_list %}
    {{ node }}:
        device: {{ node }}
        snmp-polling: no
        follow-remote-log: no
{%- endfor %}

# web application setting
webapp:   
{%- for app in web_list %}
    {{ app }}:
        device: {{ app }}
        browser:
        login-url:
        profile-dir:
{%- endfor %}

# hypervisor setting
hypervisor:
{%- for hpv in hyper_list %}
   {{ hpv }}: 
        device: {{ hpv }}
{%- endfor %}

# L1 switch information
optic:
    connection:

# tester information
tester:
{%- for tester in tester_list %}
    {{ tester }}:
        device: {{ tester }}
        config: {{ traffic }}
{%- endfor %}

# other default information
default:
    terminal:
        width: 200
        height: 50 


