# -*- coding: utf-8 -*-
# $Rev: 203 $
# $Ver: $
# $Date: 2017-04-19 10:14:50 +0900 (Wed, 19 Apr 2017) $
# $Author: $

# router, server information
node:
{% for node in node_list %}
    {{ node }}:
        device: {{ node }}
        snmp-polling: yes
        follow-remote-log: yes
        mib: 
        tag:
{% endfor %}

# web application information
webapp:   
{% for app in app_list %}
    {{ app }}:
        device: {{ app }}
        browser:
        login_url:
        profile_dir:
{% endfor %}

# L1 switch information
optic:
    connection:

# tester information
tester:
{% for tester in tester_list %}
    {{ tester }}:
        device: {{ tester }}
        config: {{ traffic }}
{% endfor %}

# other default information
default:
    terminal:
        width: 80
        height: 32
    result_folder: result


